/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.container {
    width: 1383px;
    margin: 0 auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
    gap: 10px;
}

#hover-1:hover{
    content: url('../img/1b.webp');
    transition: 0.3s;
}

#hover-2:hover{
    content: url('../img/2b.webp');
    transition: 0.3s;
}

#hover-3:hover{
    content: url('../img/3b.webp');
    transition: 0.3s;
}

#hover-4:hover{
    content: url('../img/4b.webp');
    transition: 0.3s;
}

#hover-5:hover{
    content: url('../img/5b.webp');
    transition: 0.3s;
}

#hover-6:hover{
    content: url('../img/6b.webp');
    transition: 0.3s;
}

/* header */

header {
    background-color: #ff6900;
    padding: 18px 0;
    border-bottom: 2px inset #9e9e9e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header>div {
    justify-content: space-between;
}

header .d-flex {
    display: flex;
    align-items: center;
}

header .d-flex ul {
    font-size: 18px;
    font-weight: bold;
}

header img {
    width: 135px;
}



/* Corpo della pagina */

main {
    margin-top: 135px;
    margin-bottom: 60px;
}

main .d-flex>div {
    width: calc((100% - 40px) /3);
}


main .d-flex {
    flex-wrap: wrap;
    gap: 50px 20px;
}

main .d-flex div>img {
    width: 100%;

}

main .thin-title {
    font-weight: lighter;
}

main div .titolo-capo {
    text-transform: uppercase;
}

main .red-text {
    color: #ff0000;
    display: inline-block;
}

main .line {
    text-decoration: line-through;
    display: inline-block;
}

main .casella-rossa {
    color: #ffffff;
    background-color: #ff0000;
    padding: 8px 10px;
    position: absolute;
    bottom: 100px;
}

main .casella-verde {
    color: #ffffff;
    background-color: #008000;
    padding: 8px 10px;
    position: absolute;
    bottom: 100px;
    left: 70px;
}

main .cs-verde{
    left: 0px;
}

main .cuore {
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: #ffffff;
    color: #000;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 640px;
    right: 0;
}

main .card {
    position: relative;
}

main .fa-heart:hover{
    color: #ff0000;
    font-size: 25px;
    transition: 0.2s;

/* Piede della pagina */

footer{
    height: 110px;
    background-color: #1a1a1a;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

footer div{
    margin-top: 32px;
}

footer .d-flex{
    justify-content: space-between;
    align-items: center;
}

footer .spazio{
    margin-bottom: 15px;
}