
/* Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.container{
    width: 1383px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* header */

header{
    background-color: #ff6900;
    padding: 18px 0;
}

header>div{
    justify-content: space-between;
}

header .d-flex{
    display: flex;
    align-items: center;
}

header .d-flex ul{
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
}

header img{
    width: 135px;
}

header a{
    text-decoration: none;
    color: #ffffff;
}


/* Corpo della pagina */

main{
    margin-top: 60px;
}

main .d-flex> div{
    width: calc((100% - 40px) /3);
    background-color: blue;
}


main .d-flex{
    flex-wrap: wrap;
    gap: 100px 20px;
}

main .d-flex div> img{
    width: 100%;

}

main .thin-title{
    font-weight: lighter;
}

main div h3{
    text-transform: uppercase;
}

main .red-text{
    color: #ff0000;
    display: inline-block;
}

main .line{
    text-decoration: line-through;
    display: inline-block;
}